<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Burgerd</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/css/burgerStyles.css" type="text/css" />
</head>
    <body>
        <div class="jumbotron" id="hero">
                <h1>EAT THE BURGERS!</h1>
        </div>
        <div class="container-fluid row" id="content">

            {{{body}}}

        </div>
    </body>
</html>